<section class="imagen">
  <div class="row">
      <div class=" col-md-2"></div>
      <div class= "col-md-8"><img src="assets/img/competencias.png"></div>
      <div class=" col-md-2"></div>
  </div>
</section>

<section class= "soft-skills">
  <div class="row">
      <div class="col-md-3">
        <div class="card h-100" style="max-width: 14rem;">
          <div class= "btn-edit"   on click="cambiar_parrafo()">
            <a href="#" class="btn-ligth">
              <i class="fa-solid fa-user-pen" style=color:black></i>
          <img src="assets/img/7.png" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <h5 class="card-title"><b>100%</b></h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="100%" aria-valuemax="100" style="width: 100%"></div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100" style="max-width: 14rem;">
          <div class= "btn-edit"   on click="cambiar_parrafo()">
            <a href="#" class="btn-ligth">
              <i class="fa-solid fa-user-pen" style=color:black></i>
          <img src="assets/img/5.png" class="card-img-top" alt="...">
            </a>
          <div class="card-body">
            <h5 class="card-title"><b>90%</b></h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" aria-label="Animated striped example" aria-valuenow="90" aria-valuemin="90%" aria-valuemax="100" style="width: 90%"></div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100"style="max-width: 14rem;">
          <div class= "btn-edit"   on click="cambiar_parrafo()">
            <a href="#" class="btn-ligth">
              <i class="fa-solid fa-user-pen" style=color:black></i>
          <img src="assets/img/6.png" class="card-img-top" alt="...">
            </a>
          <div class="card-body">
            <h5 class="card-title"><b>80%</b></h5>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" aria-label="Animated striped example" aria-valuenow="80" aria-valuemin="80%" aria-valuemax="100" style="width: 80%"></div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-3">
          <div class="card h-100" style="max-width: 14rem;">
            <div class= "btn-edit"   on click="cambiar_parrafo()">
              <a href="#" class="btn-ligth">
                <i class="fa-solid fa-user-pen" style=color:black></i>
            <img src="assets/img/8.png" class="card-img-top" alt="...">
              </a>
            <div class="card-body">
              <h5 class="card-title"><b>70%</b></h5>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar" aria-label="Animated striped example" aria-valuenow="70" aria-valuemin="70%" aria-valuemax="100" style="width: 70%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</section>
